*.txt
*.orig
*.gdbhistory
*.swp
.deps
.libs
*.lo
src/tests/*.diff
src/tests/*.exp
src/tests/*.log
src/tests/*.out
src/tests/*.sh
src/tests/*.php
doc/build/
# autotools files
src/build
src/autom4te.cache
src/Makefile.global
src/acinclude.m4
src/aclocal.m4
src/ax_check_compile_flag.m4
src/config.guess
src/config.h.in
src/config.sub
src/configure
src/configure.in
src/install-sh
src/ltmain.sh
src/ltoptions.m4
src/ltsugar.m4
src/ltversion.m4
src/missing
src/mkdep.awk
src/mkinstalldirs
src/run-tests.php
src/scan_makefile_in.awk
src/shtool
