language: php

env:
  - secure: "fjx/arfcdoqWUIzlQXzQdW9gqXRG7Vpo8dTwJip0uJH8oFeTfYhw1V9EMS4JtKVGwQo3vaagehMflVr7swaoe9Nf4YoCjaEq8x6ZMJH3bLHNgtigfS03Uqop9FI/a/Jau/BL7ibIEkZRNfEIx8z+NyfY4bAeK35W/Ru5k2BHyp1GLKwBpizHdJsshG/ukM+4W8PY9BAeXVavqxQRywseQEsqmGruGLcYFuuh04D7cnNqyuYgbdaq7YMKZfVGxM7N5eeL5xSlw0Sl9yOutRzkxUmL1WSmYMFrkRLcc37hRTu67tCmP60tiGLGY2Ll8nUh6rkc3RwBgc1wOC7jRMrtoGvlgsLxz7kLOtpQ31PdJKefe99rQMkcYKLwCxXf7WQdOHY4YsTmjqlPyzfTKT3mNtGhUwp1rEvlcygZZK8osHtc46BUD6BKNRCvTyLNyLTx2IoA4WfrzWOaQ+A1gNRD5L9Jbqi0kY6teENCzzlHUe80mH7wBarCTRoDAD73w/EPgSn3+CeLALXXEu+r9Sm/e5YpaFfLdeKDC6fr1KwU69ddHUKWZqjFM8vEHjrIbmAdNwVsuCo8LeWdCCXdQlWrISQ4OUDBBEmnwlKoojSjIYP5SKoH1txZemGok1/TN/tvjlyrx2RYYxy7AdUulENKXXeqlwWsiwVZCZLR4tt+wEQ="

matrix:
  include:
  - env: TARGET="coverity"
    php: "7.2"
    script: echo "Coverity, nothing to do."
    after_success: cat /home/travis/build/nbs-system/snuffleupagus/cov-int/scm_log.txt
    before_install: echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
    addons:
      coverity_scan:
        project:
          name: "nbs-system/snuffleupagus"
          description: "Build submitted via Travis CI"
        notification_email: "devnull@nbs-system.com"
        build_command_prepend: "cd src; phpize; ./configure --enable-snuffleupagus; cd -"
        build_command: "make debug -j2"
        branch_pattern: "master"
  - env: TARGET="gcc php7.0" CC="gcc"
    php: "7.0"
  - env: TARGET="gcc php7.1" CC="gcc"
    php: "7.1"
  - env: TARGET="gcc php7.2" CC="gcc"
    before_install: pip install --user cpp-coveralls
    php: "7.2"
  - env: TARGET="gcc php7.3" CC="gcc"
    php: "7.3"
  - env: TARGET="gcc php7.3" CC="gcc"
    php: "7.4snapshot"
  - env: TARGET="gcc php nightly" CC="gcc"
    php: "nightly"
  allow_failures:
  - env: TARGET="gcc php nightly" CC="gcc"
    php: "nightly"

script:
  - if [[ ! "${TARGET}" = *"nightly"* ]]; then pecl install vld-beta ; fi
  - cd src/
  - phpize
  - ./configure --enable-snuffleupagus --enable-coverage
  - make -j 2
  - TEST_PHP_ARGS="-q" REPORT_EXIT_STATUS=1 make test

after_success:
  - |
    if [ "${TARGET}" = "gcc php7.2" ]; then
      cd ../
      git clone --depth 1 https://github.com/linux-test-project/lcov.git
      rm -rf ./lcov/examples/ ./lcov/test/
      ./lcov/bin/lcov -c -o ./src/COV.info --rc lcov_branch_coverage=1 --base-directory ./src/ --directory .
      ./lcov/bin/lcov --remove ./src/COV.info "/usr/*" --remove ./src/COV.info "./src/*tweetnacl.c" -o ./src/COV.info --rc lcov_branch_coverage=1
      ./lcov/bin/genhtml -o ./src/COV.html ./src/COV.info  --branch-coverage
      coveralls --exclude "./src/tweetnacl.c"
    fi

after_failure:
  - grep -r . ./tests/*/*.out
  - grep -r . ./tests/*/*.diff
