Source: snuffleupagus
Section: php
Priority: optional
Maintainer: NBS System <snuffleupagus@nbs-system.com>
Build-Depends: debhelper (>= 9),
               php-all-dev
Standards-Version: 4.1.3
Homepage: https://snuffleupagus.fr
Vcs-Git: https://github.com/nbs-system/snuffleupagus
Vcs-Browser: https://github.com/nbs-system/snuffleupagus

Package: snuffleupagus
Architecture: any
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Description: Hardening for your php7 stack
 Snuffleupagus is cool.
