#!/usr/bin/make -f

export DH_VERBOSE = 1

# pkg-pecl.mk contains all we need
include /usr/share/dh-php/pkg-pecl.mk

PECL_CONFIGURE_MAINT_APPEND = --enable-snuffleupagus
PECL_NAME_OVERRIDE = php-snuffleupagus

override_dh_auto_build:
	make -C src

override_dh_auto_test:
	TEST_PHP_ARGS="-q" REPORT_EXIST_STATUS="1" make -C src test
